<p>
  <b>Name:</b>
  <%=h @service.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @service.description %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>