body {
    margin: 0;
}

#left {
    float: left;
    clear: none;
    padding: 20px 15px;
    width: 145px;
    margin: 0;
}

.dark {
    background: #333;
    color: white;
}
.dark a { color: white; }
.dark a:visited { color: white; }

#content {
    padding: 10px 20px 0 200px;
}

#footer {
    float: right;
    clear: both;
    background: url("/images/icons/icontexto-webdev-info-032x032.png") no-repeat top right #eef;
    border: 1px solid #ccc;
    font-size: 10px;
    line-height: 14px;
    padding: 2px 35px 2px 4px;
    text-align: right;
    margin: 10px;
    margin-top: 50px;
}

.notice {
    width: 350px;
    border: 1px dotted #ccc;
    padding: 5px;
    color: black;
    background: #ffc;
}

.error {
    width: 350px;
    border: 1px dotted #ccc;
    padding: 5px;
    color: black;
    background: #f87;
}

img.messageicon {
    position: relative;
    top: -15px;
    left: -15px;
    float: left;
}

img.bigicon {
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 0.6;
}

a {
    color: black;
    text-decoration: none;
}
a:visited { color: black; }
a:hover {
    background: none;
    color: black;
    opacity: 0.6;
    text-decoration: none;
}

a img {
    position: relative;
    top: 3px;
    padding-right: 2px;
    border: 0;
    width: 20px;
    height: 20px;
}

.domain {
    border: 1px solid #ccc;
    background: #cfc;
}

.innerdomain {
    border: 1px solid #ccc;
    background: #ccf;
}

table.subdomains td, th {
    text-align: left;
    padding-right: 50px;
}

