<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>
PureFTPd module - User

Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<h1>FTP service for <%= @pureftpd_user.user.full_name %></h1>

<p>
  <b>Accounts:</b>
  <%= print_quota @pureftpd_user.used_accounts_total, @pureftpd_user.max_accounts, '' %>
</p>

<p>
  <%= link_to (image_tag 'icons/icontexto-webdev-config-032x032.png', :alt => '', :class => 'action') + 'Edit',
              :controller => 'pureftpd_users', :action => 'edit', :id => @pureftpd_user.to_param %><br/>
  <%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back', @pureftpd_user.user %>
</p>

