<%= image_tag 'icons/icontexto-webdev-home-128x128.png', :alt => '', :class => 'bigicon' %>
<h1>Domains</h1>

<%= 'You have no domain yet' if @logged_user.domains.count == 0 %>
<%= render :partial => @logged_user.domains %>
<p>

  <%= link_to (image_tag 'icons/icontexto-webdev-add-032x032.png', :alt => '') + 'Add a domain', :controller => 'domains', :action => 'new' %>
</p>

