<% if false %><!--
Ohm - Open Hosting Manager <http://ohmanager.sourceforge.net>
PureFTPd module - Account

Copyright (C) 2009-2010 UMONS <http://www.umons.ac.be>

This file is part of Ohm.

Ohm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Ohm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Ohm. If not, see <http://www.gnu.org/licenses/>.
--><% end %>

<p>
  <b>Username:</b>
  <%=h @account.full_username %>
</p>

<p>
  <b>Root directory:</b>
  <%=h "/home/" + @account.pureftpd_user.user.username + "/" + @account.root %>
</p>


<%= link_to 'Edit', edit_pureftpd_account_path(@account) %> |
<%= link_to 'Back', pureftpd_accounts_path %>

