<%= image_tag "icons/icontexto-webdev-site-map-128x128.png", :alt=>"", :class=>"bigicon" %>
<h1>Install a module</h1>

<% form_tag({ :action => 'create' }, :multipart => true) do %>
<p>
  <label for="upload_file">Select file</label>:
  <%= file_field 'upload', 'datafile' %>
</p>
<%= submit_tag "Install" %>
<% end %>

<br />
<%= link_to (image_tag 'icons/icontexto-webdev-arrow-left-032x032.png', :alt => '', :class => 'action') + 'Back', :controller => 'services' %>

